---
import type { HTMLAttributes } from "astro/types";

type Props = { disabled?: boolean, raw?: boolean } & HTMLAttributes<"a">;

const { disabled, class: className, ...attrs } = Astro.props;

const Button = disabled ? "span" : "a";

const href = attrs.raw
  ? attrs.href
  : `/${[import.meta.env.BASE_URL, attrs.href].filter(Boolean).join("/")}`.replace(
      /\/{2,}/g,
      "/"
    );
---

<Button
  aria-disabled={disabled}
  class:list={[
    "group flex items-center gap-1",
    { "hover:text-accent": !disabled },
    className,
  ]}
  {...attrs}
  href={href}
>
  <slot />
</Button>
